.mealTitle {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

.left-cont {
  width: 30%;
  margin: 5%;
}
.right-cont {
  width: 60%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.meal-img {
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
  background-color: grey;
}
.fade-in {
  opacity: 1;
  transform: translateY(0);
}
