.mealTitle {
  /* height: 2%; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-cont {
  width: 30%;
  margin: 30px;
}
.right-cont {
  width: 60%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.meal-img {
  height: 100%;
  width: 100%;
}
