.mealTitle {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-cont {
  width: 35%;
  margin: 5%;
}
.right-cont {
  width: 65%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.meal-img {
  height: 100%;
  width: 100%;
}
