.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 5px 0.1px 18px rgb(220, 220, 220);
  background-color: #121212;
}
.header-right {
  display: flex;
}
.header-left {
  display: flex;
  text-align: center;
}
.header-left-text {
  text-align: center;
  padding: 5px;
}
.header-right-element {
  padding: 20px 10px;
}

.logo-img {
  height: 50px;
  padding: 7px 0px;
  width: auto;
  object-fit: contain;
  background-color: grey;
}
.header-left > a {
  text-decoration: none;
  color: inherit;
}
